/*header {
  color: black;
  background: cadetblue;
}*/

body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background: whitesmoke;
  margin: 0px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "oswald", sans-serif;
  font-weight: normal;
  /*font-style: italic;*/
}

h1 {
  font-size: 30px;
  line-height: 1.5em;
  letter-spacing: -0.2px;
  color: white;
  margin: 0;
  /*margin: 100px 150px 70px 30px;*/
  /*text-transform: capitalize;*/
  /*text-decoration: underline*/
}
h1 strong {
  color: cadetblue;
}
h2 {
  color: cadetblue;
  text-transform: uppercase;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: bold;
  margin: 40px;
}
.portfolio {
  padding: 20px;
}
.project {
  border: 1px solid rosybrown;
  border-radius: 10px;
  margin-bottom: 15px;
  padding: 50px;
  background: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.project-date,
.project-url {
  margin: 10px 0px;
}

.project-description {
  font-size: 20px;
}

.project-details {
  width: 500px;
}

.project-imageContainer {
  width: 500px;
}

.header {
  background-color: grey;
  color: white;
  display: flex;
  justify-content: space-between;
  height: 70px;
  align-items: center;
}
.menu {
  height: inherit;
}
.header a {
  color: white;
  text-decoration: none;
  height: inherit;
  display: flex;
  align-items: center;
  padding: 0px 10px;
}
ol,
ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
.header ul {
  display: flex;
  height: inherit;
}
.header ul li {
  height: inherit;
}

.hero {
  height: 300px;
  background-image: url(../imagenes/IMAGEN7.jpeg);
  background-color: gray;
  background-size: 500px 300px;
  background-repeat: no-repeat;
  background-position-x: right;
  display: flex;
  align-items: center;
}

.footer {
  color: white;
  background-color: grey;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.event-list {
  display: flex;
}

.event {
  border: 1px solid rosybrown;
  margin: 10px;
  width: 480px;
}

.event-imageContainer {
  width: 480px;
}
